PORT=3000
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=7d
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLISHABLE_KEY=
REDIS_URL=redis://127.0.0.1:6379
TEBRA_API_KEY=
TEBRA_API_URL=
NODE_ENV=development
CLIENT_URL=http://localhost:5173
PLATFORM_SPLIT_PERCENTAGE=36
